@import '../node_modules/@eightshapes/esds-visual-style/src/esds-visual-style';

$esds-button-active-box-shadow: $esds-shadow-interactive-on-white;

.esds-button-v1 {
    @include esds-font-reset();
    @include esds-responsive-font-size($type: 'body-m');
    background-color: $esds-color-orange-82;
    border: 1px solid $esds-color-orange-82;
    border-radius: $esds-border-radius-default;
    color: $esds-color-white;
    cursor: pointer;
    display: inline-block;
    fill: $esds-color-white;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    padding: $esds-space-inset-squish-1-x;
    text-align: center;
    text-decoration: none;
    text-indent: initial;
    text-shadow: none;
    text-transform: none;
    transition:
        background-color $esds-transition-interactive-hover-speed linear,  // sass-lint:disable-line indentation
        border-color $esds-transition-interactive-hover-speed linear,  // sass-lint:disable-line indentation
        color $esds-transition-interactive-hover-speed linear,  // sass-lint:disable-line indentation
        fill $esds-transition-interactive-hover-speed linear;  // sass-lint:disable-line indentation
    white-space: nowrap;

    &:hover,
    .esds-button--hover & {
        background-color: $esds-color-orange-91;
        border-color: $esds-color-orange-91;

        .esds-container--brand & {
            border-color: $esds-color-white;
        }
    }

    &:active,
    .esds-button--active & {
        background-color: $esds-color-orange-91;
        border-color: $esds-color-orange-91;
        box-shadow: $esds-button-active-box-shadow;

        .esds-container--brand & {
            border-color: $esds-color-white;
        }
    }

    &:focus,
    .esds-button--focus & {
        box-shadow: $esds-button-active-box-shadow;
        outline: 0;
    }

    &:disabled,
    &.esds-button--disabled {
        background-color: $esds-color-orange-93;
        border-color: $esds-color-orange-93;
        cursor: not-allowed;

        &:active,
        &:focus {
            box-shadow: none;
        }

        .esds-container--brand & {
            border-color: $esds-color-orange-93;
        }
    }

    &.esds-button--icon-only {
        padding: $esds-space-inset-half-x;
    }

    &.esds-button--large {
      @include esds-responsive-font-size($type: 'body-l');
      padding: $esds-space-inset-squish-2-x;

      &.esds-button--icon-only {
        padding: $esds-space-inset-1-x;
      }
    }

    &.esds-button--small {
      @include esds-responsive-font-size($type: 'body-s');
      font-weight: $esds-font-weight-regular;
      padding: $esds-space-inset-squish-half-x;

      &.esds-button--icon-only {
        padding: $esds-space-inset-quarter-x;
      }
    }

    &.esds-button--secondary {
      background-color: $esds-color-white;
      color: $esds-color-orange-82;
      fill: $esds-color-orange-82;

      &:hover,
      .esds-button--hover & {
        background-color: $esds-color-orange-91;
        color: $esds-color-white;
        fill: $esds-color-white;
      }

      &:active,
      .esds-button--active & {
        background-color: $esds-color-orange-91;
        color: $esds-color-white;
        fill: $esds-color-white;
      }

      &:disabled,
      &.esds-button--disabled {
        background-color: $esds-color-neutral-90;
        border-color: $esds-color-neutral-42;
        color: $esds-color-neutral-42;
        fill: $esds-color-neutral-42;
      }
    }

    &.esds-button--flat {
      background-color: transparent;
      border-color: transparent;
      color: $esds-color-orange-82;
      fill: $esds-color-orange-82;

      .esds-container--brand & {
        color: $esds-color-white;
        fill: $esds-color-white;
      }

      &:hover,
      .esds-button--hover & {
        background-color: $esds-color-orange-91;
        color: $esds-color-white;
        fill: $esds-color-white;
      }

      &:active,
      .esds-button--active & {
        background-color: $esds-color-orange-91;
        color: $esds-color-white;
        fill: $esds-color-white;
      }

      &:disabled,
      &.esds-button--disabled {
        background-color: transparent;
        border-color: transparent;
        color: $esds-color-neutral-42;
        fill: $esds-color-neutral-42;

        .esds-container--brand & {
          border-color: transparent;
        }
      }
    }

    .esds-button__label {
      display: inline-block;
      vertical-align: middle;
      white-space: normal;

      .esds-button__icon + & {
        padding-left: $esds-space-generic-eighth-x;
      }
    }

    .esds-button__icon .esds-icon-v1 {
      display: inline-block;
      height: 16px;
      vertical-align: middle;
      width: 16px;

    }

    .esds-button__label + .esds-button__icon .esds-icon-v1 {
      padding-left: $esds-space-generic-eighth-x;
    }

    &.esds-button--large .esds-icon-v1 {
      height: 20px;
      width: 20px;
    }

    &.esds-button--small .esds-icon-v1 {
      height: 12px;
      width: 12px;
    }
} // end of .esds-button-v1
