@import './color';

@mixin esds-text-crop($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) { // sass-lint:disable-line zero-unit - The px unit needs to be here so the calc() functions work correctly
    $top-crop: 11;
    $bottom-crop: 9;
    $crop-font-size: 41;
    $crop-line-height: 1.2;

    // Apply values to calculate em-based margins that work with any font size
    $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
    $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;

    // Mixin output
    line-height: $line-height;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
    }

    &::after {
        margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
    }
}

@mixin esds-font-reset(
  $font-family: $esds-font-family-sans-serif,
  $font-size: $esds-font-size-body-m-default,
  $font-style: normal,
  $font-weight: $esds-font-weight-regular,
  $letter-spacing: 0,
  $text-align: left,
  $text-decoration: none,
  $text-indent: 0,
  $text-shadow: none,
  $text-transform: none
) {
    font-family: $font-family;
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
    letter-spacing: $letter-spacing;
    text-align: $text-align;
    text-decoration: $text-decoration;
    text-indent: $text-indent;
    text-shadow: $text-shadow;
    text-transform: $text-transform;
}

@mixin esds-heading-reset() {
    @include esds-font-reset;
    font-weight: $esds-font-weight-light;
    line-height: $esds-font-line-height-headings;
}

@mixin esds-responsive-font-size($type: 'body-m') {
    font-size: esds-token('font', 'size', $type, 'default');

    @media screen and (min-width: 480px) {
        font-size: esds-token('font', 'size', $type, 'at-480');
    }
    @media screen and (min-width: 768px) {
        font-size: esds-token('font', 'size', $type, 'at-768');
    }
    @media screen and (min-width: 1000px) {
        font-size: esds-token('font', 'size', $type, 'at-1000');
    }
}

@mixin esds-level-1-heading() {
    @include esds-heading-reset;
    @include esds-text-color($type: 'primary');
    @include esds-responsive-font-size($type: 'heading-level-1');
    font-weight: $esds-font-weight-bold;
}

@mixin esds-level-2-heading() {
    @include esds-heading-reset;
    @include esds-text-color($type: 'primary');
    @include esds-responsive-font-size($type: 'heading-level-2');
    font-weight: $esds-font-weight-light;
}

@mixin esds-level-3-heading() {
    @include esds-heading-reset;
    @include esds-text-color($type: 'primary');
    @include esds-responsive-font-size($type: 'heading-level-3');
    font-weight: $esds-font-weight-light;
}

@mixin esds-level-4-heading() {
    @include esds-heading-reset;
    @include esds-text-color($type: 'primary');
    @include esds-responsive-font-size($type: 'heading-level-4');
    font-weight: $esds-font-weight-light;
}

@mixin esds-eyebrow-heading() {
    @include esds-heading-reset;
    @include esds-text-color($type: 'secondary');
    @include esds-responsive-font-size($type: 'heading-eyebrow');
    font-weight: $esds-font-weight-light;
    letter-spacing: 1.67px;
    line-height: $esds-font-line-height-headings;
    text-transform: uppercase;
}

@mixin esds-body-text-lead() {
    @include esds-font-reset;
    @include esds-text-color($type: 'primary');
    @include esds-responsive-font-size($type: 'heading-level-4');
    font-weight: $esds-font-weight-light;
    line-height: $esds-font-line-height-normal;
}

@mixin esds-body-text-l() {
    @include esds-font-reset;
    @include esds-text-color($type: 'primary');
    @include esds-responsive-font-size($type: 'body-l');
    font-weight: $esds-font-weight-light;
    line-height: $esds-font-line-height-normal;
}

@mixin esds-body-text-m() {
    @include esds-font-reset;
    @include esds-text-color($type: 'primary');
    @include esds-responsive-font-size($type: 'body-m');
    font-weight: $esds-font-weight-regular;
    line-height: $esds-font-line-height-normal;
}

@mixin esds-body-text-s() {
    @include esds-font-reset;
    @include esds-text-color($type: 'secondary');
    @include esds-responsive-font-size($type: 'body-s');
    font-weight: $esds-font-weight-regular;
    line-height: $esds-font-line-height-normal;
}

@mixin esds-link() {
    @include esds-text-color($type: 'link');
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.esds-link {
    @include esds-link();
}

.esds-typography-sink--level-1-heading {
    @include esds-text-crop();
    @include esds-level-1-heading();
}

.esds-typography-sink--level-2-heading {
    @include esds-text-crop();
    @include esds-level-2-heading();
}

.esds-typography-sink--level-3-heading {
    @include esds-text-crop();
    @include esds-level-3-heading();
}

.esds-typography-sink--level-4-heading {
    @include esds-text-crop();
    @include esds-level-4-heading();
}

.esds-typography-sink--eyebrow-heading {
    @include esds-text-crop();
    @include esds-eyebrow-heading();
}

.esds-typography-sink--body-text-lead {
    @include esds-text-crop();
    @include esds-body-text-lead();
}

.esds-typography-sink--body-text-l {
    @include esds-text-crop();
    @include esds-body-text-l();
}

.esds-typography-sink--body-text-m {
    @include esds-text-crop();
    @include esds-body-text-m();
}

.esds-typography-sink--body-text-s {
    @include esds-text-crop();
    @include esds-body-text-s();
}
